################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQ_Test/RabbitMQ_Test/RabbitMQ_Test.csproj
